@use '../abstracts/' as a;

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: a.$font-main;
    background-color: a.$bg-color;
    color: a.$color-text;
    margin: 0;
    padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}