@use "sass:color";
@use "../abstracts" as a;

#tracker-status {
    font-size: 1.4rem;
    font-weight: a.$font-weight-bold;
    margin: 10px 0;
}

.progress-section {
    .progress-container {
        background-color: a.$color-bg-light;
        border-radius: a.$border-radius-main;
        height: 20px;
        overflow: hidden;
        margin: 15px 0;
    }

    #progress-bar {
        background-color: a.$color-primary;
        width: 0%;
        height: 100%;
        transition: width 0.5s ease;
    }
}