@use "sass:color";
@use '../abstracts/' as a;

#tracker-status {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 10px 0;
}

// Progress Bar
.progress-container {
    background: a.$color-bg-light;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
}

.progress-bar {
    background: linear-gradient(90deg, a.$color-primary, color.adjust(a.$color-primary, $lightness: 10%));
    height: 100%;
    transition: width 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

//Test