// Je linkt naar de MAP abstracts. Sass pakt daar automatisch de _index.scss
@use '../abstracts' as a;

.planner-container {
    background-color: a.$card-bg; // Gebruik de prefix 'a.' voor je variabelen
    margin: a.$spacing-medium;
}