@use '../abstracts' as a;

.btn-primary,
.btn-plan {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: a.$border-radius-main;
    font-weight: a.$font-weight-bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: opacity 0.2s;

    &:active {
        opacity: 0.8;
    }
}

.btn-plan {
    background-color: a.$color-primary;
    color: white;
    margin-top: 10px;
}