@use '../abstracts' as a;

.btn-primary,
.btn-plan {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: a.$border-radius-main;
    background-color: a.$color-accent;
    color: white;
    margin-top: 10px;
    font-weight: a.$font-weight-bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: opacity 0.2s;

    &:active {
        opacity: 0.8;
    }

    &:hover {
        background-color: a.$color-hover;
        transition: color .15s, background .15s, border-color .15s, fill .15s;
    }
}