@use '../abstracts' as a;

.input-group {
    position: relative; // Dit is de "anker" voor de suggesties
    display: flex;
    align-items: center;
    width: 100%;
}

.suggesties-lijst {
    position: absolute;
    top: 100%; // Plakt de lijst direct onder het tekstvak
    left: 0;
    right: 0;
    background: a.$color-white;
    z-index: 1000;
    border: 1px solid #ddd;
    border-radius: 0 0 a.$border-radius-main a.$border-radius-main;
    box-shadow: a.$shadow-sm;
    max-height: 200px;
    overflow-y: auto;

    div {
        padding: 10px 15px;
        cursor: pointer;
        font-family: a.$font-main;
        border-bottom: 1px solid #f0f0f0;

        &:hover {
            background-color: #f9f9f9;
            color: a.$color-primary;
        }
    }
}